<a href="https://colab.research.google.com/github/SodisettiRakesh123/SkillCraft/blob/main/Mall_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
df=pd.read_csv('/content/archive (9).zip')
print(df.head())
print(df.info())
print(df.columns)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [21]:
scaler=StandardScaler()
df[['Age', 'Annual Income (k$)', 'Spending Score (1-100)']]=scaler.fit_transform(df[['Age', 'Annual Income (k$)', 'Spending Score (1-100)']])
pca=PCA(n_components=2)
df[['x', 'y']]=pca.fit_transform(df[['Age', 'Annual Income (k$)', 'Spending Score (1-100)']])
print(df.head())
print(df.head())

   CustomerID   Genre       Age  Annual Income (k$)  Spending Score (1-100)  \
0           1    Male -1.424569           -1.738999               -0.434801
1           2    Male -1.281035           -1.738999                1.195704
2           3  Female -1.352802           -1.700830               -1.715913
3           4  Female -1.137502           -1.700830                1.040418
4           5  Female -0.563369           -1.662660               -0.395980

          x         y
0 -0.615720 -1.763481
1 -1.665793 -1.820747
2  0.337862 -1.674799
3 -1.456573 -1.772430
4 -0.038465 -1.662740
   CustomerID   Genre       Age  Annual Income (k$)  Spending Score (1-100)  \
0           1    Male -1.424569           -1.738999               -0.434801
1           2    Male -1.281035           -1.738999                1.195704
2           3  Female -1.352802           -1.700830               -1.715913
3           4  Female -1.137502           -1.700830                1.040418
4           5  Female -0.563369           -1.662660               -0.395980

          x         y
0 -0.615720 -1.763481
1 -1.665793 -1.820747
2  0.337862 -1.674799
3 -1.456573 -1.772430
4 -0.038465 -1.662740

In [24]:
from sklearn.metrics import silhouette_score
silhouette_scores=[]
from sklearn.metrics import silhouette_score
silhouette_scores=[]
for k in range(2,10):
  kmeans=KMeans(n_clusters=k,init='k-means++',random_state=42)
  clusters=kmeans.fit_predict(df[['Age','Annual Income (k$)','Spending Score (1-100)']])
  silhouette_scores.append(silhouette_score(df[['Age','Annual Income (k$)','Spending Score (1-100)']],clusters))
  optimal_k=silhouette_scores.index(max(silhouette_scores))+2

In [25]:
kmeans=KMeans(n_clusters=optimal_k,init='k-means++',random_state=42)
clusters=kmeans.fit_predict(df[['Age','Annual Income (k$)','Spending Score (1-100)']])

In [32]:
df['Cluster']=clusters
cluster_analysis=df.drop('Genre', axis=1).groupby('Cluster').mean()
print(cluster_analysis)
print(df.drop('Genre', axis=1).groupby('Cluster').mean())

         CustomerID       Age  Annual Income (k$)  Spending Score (1-100)  \
Cluster
0         83.777778  1.254721           -0.240213               -0.043998
1        162.000000 -0.441917            0.991583                1.239503
2         24.200000 -0.953779           -1.300814                1.010913
3         97.700000 -0.913231           -0.043322               -0.223224
4        167.066667  0.369598            1.128797               -1.252642
5         23.190476  0.478957           -1.308230               -1.196444

                x         y
Cluster
0        0.928920 -0.200452
1       -1.235118  0.930282
2       -1.325169 -1.366230
3       -0.485369 -0.062365
4        1.091484  1.185937
5        1.246081 -1.247069
         CustomerID       Age  Annual Income (k$)  Spending Score (1-100)  \
Cluster
0         83.777778  1.254721           -0.240213               -0.043998
1        162.000000 -0.441917            0.991583                1.239503
2         24.200000 -0.953779           -1.300814                1.010913
3         97.700000 -0.913231           -0.043322               -0.223224
4        167.066667  0.369598            1.128797               -1.252642
5         23.190476  0.478957           -1.308230               -1.196444

                x         y
Cluster
0        0.928920 -0.200452
1       -1.235118  0.930282
2       -1.325169 -1.366230
3       -0.485369 -0.062365
4        1.091484  1.185937
5        1.246081 -1.247069